<h2 class="page-title">Add Category</h2>
<div class="container">
  <div class="row">

    <form method="post" action="/categories/add">
      <fieldset>
        <div class="col-md-6">
          <div class="form-group" style="margin-top: 3em;">
            <label for="category">Category:</label>
            <br />
            <input
              type="text"
              id="category"
              name="category"
              style="width: 100%;"
            />
          </div>
        </div>
      </fieldset>

      <input
        type="submit"
        class="btn btn-primary pull-right"
        value="Add Category"
      />
    </form>

  </div>
</div>